.message{
    display: flex;
    align-items: center;
    column-gap: 4px;

    margin: 8px 0;
    padding: 4px 8px;
    border-radius: 30px;
    max-width: 600px;


    &.user {
      align-self: flex-end;
      background-color: #18181B;
      color: white;
      div {
        padding: 2px  5px;
      }
    }
    &.bot {
      align-self: flex-start;
      background-color: #18181B;
      color:white;

      .icon {
        width: 36px;
        height: 36px;
        display: grid;
        place-items: center;
        background: #212121;
        border-radius: 99999px;
        color:white;
        border: 1.3px solid rgb(185, 185, 185);
      }

      div {
        padding: 2px  5px;
      }
    }
}


form {
  display: flex;

  input {
    border-radius: 999999px;
    flex-grow: 1;
    border: 0;
    padding: 8px;
    margin-right: 8px;
    border: 1px solid #ccc;
  }

  button {
    background: #09f;
    border: 0;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    padding: 8px;
    transition: background .3s ease;

    &[disabled] {
      background: #ccc;
      opacity: .6;
      pointer-events: none;
    }

    &:hover {
      background: rgb(0, 104, 173);
    }
  }
}