
.presentation {
    height:100%;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);
    padding: 8px;
    margin-bottom: 16px;

    overflow-y: auto;
    scroll-behavior: smooth;
}
.grid{
    display: grid;
    grid-template-rows: 1fr .2fr;
}
ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}
.message{
    display: flex;
    flex-direction: column;
    margin: 4px 0;
    padding: 4px 8px;
    
    span {
      width: 36px;
      height: 36px;
      background: #eee;
      font-size: 12px;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 999999px;
    }
    p {
        border-radius: 4px;
        padding: 4px 8px;
        margin-top: 4px;
        max-width: 500px;
    }
    &.user {
      align-self: flex-end;
      align-items: flex-end;

      span,
      p {
        background: rgb(219, 236, 255);
      }
    }
    &.bot {
      align-self: flex-start;
      span,
      p {
        background: rgb(198, 255, 220);
      }
    }
}

form {
    display: flex;

    input {
      border-radius: 999999px;
      flex-grow: 1;
      border: 0;
      padding: 8px;
      margin-right: 8px;
      border: 1px solid #ccc;
    }

    button {
      background: #09f;
      border: 0;
      color: white;
      border-radius: 6px;
      cursor: pointer;
      padding: 8px;
      transition: background .3s ease;

      &[disabled] {
        background: #ccc;
        opacity: .6;
        pointer-events: none;
      }

      &:hover {
        background: rgb(0, 104, 173);
      }
    }
  }