.navbarContainer{
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    display: flex;
    font-size: 1.7rem;
    height: auto;
    justify-content: space-between;
    left: 0;
    padding: 25px 40px 25px 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
}
.menuItem{
display: flex;
position: relative;
}
.menuItem:hover {
    color: rgb(36, 133, 251);
}
/* .menuItem::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: #69b6d5;
    justify-content: center;
    align-items: center;
} */
/* .menuItem::after {
    content: ":p";
} */