@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html{
  border-inline: 10px black solid;
  border-block: 10px black solid;
}

@media (max-width: 768px) {
  html {
      border-inline: 7px rgb(255, 255, 255) solid;
      border-block: 7px red solid;
  }
} */