.chip{
    background-color: white;
    border-radius: 100vw;
    color: black;
    padding: .1rem .5rem;
    text-align: center;
    font-weight: 400;
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.2);
}